[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cinnamon = {path = './', editable = true}
#pweave = "*"
sphinx = "*"

[dev-packages]
build = "*"
twine = "*"
pytest = "*"
flake8 = "*"
jupyter = "*"
autopep8 = "*"
