[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
catboost = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
xgboost = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
